/* styles and spacing for the contact page */
.form input, .form textarea {
    width: 150%;
    height: 100%;
  }

 
  .text-center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    margin: 0px;
  }

  p {
    text-align: left;
  }

  button {
    display: flex;
    align-self: left;
  }

  .text-fields {
    border-radius: 10px;
  }
  .field-height {
    padding: 10px;
  }
  .email-link {
    text-decoration: none;
    color: black;
  }

  /* media screen spacing for mobile devices */
  @media screen and (max-width:767px){
    .form input, .form textarea {
      width: 100%;
      height: 100%;
    }
    .text-center{
      margin: auto;
      padding: 20px;
      align-items: center;
    }
    
}