/* style and spacing for footer */
.github-icon, .linkedin-icon {
    color: black;
    height: 50px;
    padding-bottom: 20px;
    margin-right: 40px;
    
}
.github-icon:hover {
    color: rgb(43, 42, 42);
}
.linkedin-icon:hover {
    color: rgb(43, 42, 42);
}
.footer-spacing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}