*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.navigation-bar {
    opacity: 75%;
    background-color: gray;
}
.full-name {
    font-weight: bold;
    color: white;
}
.tabs {
    font-weight: bold;
    color: white;
}
.main-container {
    display: flex;
}