/* styles and spacing for the projects page */
.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px;
    padding: 5px;
}
.card-padding {
    padding: 10px;
}
h1 {
    margin-bottom: 40px;
}

.text-spacing {
    text-align: center;
}

.image-size {
    max-height: 200px;
}
.body-size {
    max-height: 250px;
}
.site-link {
    text-decoration: none;
}
.icon {
    height: 30px;
    color: black;
}
.icon:hover {
    color: gray;
}
.title {
    height: 40px;
    color: rgb(26, 112, 182);
}
.title:hover {
    color: black;
}
.description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17px;
}
